fastapi
uvicorn
streamlit
requests

langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-groq

chromadb

sentence-transformers
torch
transformers

pypdf
python-docx
docx2txt

python-dotenv
python-multipart

numpy
pandas

groq